<% right_column_block(:header_title => 'Подсказки') do %>
  <div class="default">Все привыкли к тому, что авторы получают вопросы из зрительного зала. Круги предлагают поменяться ролями: автор задаёт вопросы, а зрители отвечают на них.</div>
  <div class="default">Это эффективный и ненавязчивый способ завязать интересное и живое общение в Ваших "Кругах".</div>
  <div class="default">Ваши вопросы будут заданы автоматически, когда гости решат присоединиться к Вашим кругам, скачать Ваш контент или оставить комментарий.</div>
  <div class="default"><b>Оставайтесь собой.</b> Спрашивайте то, что Вас по-настоящему волнует.</div>
  <div class="default"><b>Наблюдайте.</b> Используйте  "Форум" для проведения исследований и сбора интересной информации.</div>
  <div class="default"><b>Способствуйте самовыражению.</b> Задавайте вопросы, ответы на которые предоставляют отвечающим поле для творчества.</div>
  <div class="default"><b>Вносите смятение в умы.</b> Не опасайтесь спорных и странных вопросов.</div>
<% end %>