<% right_column_block(:header_title => 'Tips') do %>
  <div class="default">It is common for entertainers to receive questions from the audience. Kroogi offers artists the opportunity to turn the tables on their spectators and let the viewers respond to their inquiries instead.</div>
  <div class="default">Use the Forum to start a dialogue within your Kroogi circles and grow your community faster.</div>
  <div class="default">Once you submit a question, pop-ups will prompt visitors to participate in your forum when they join your circles, download content, or leave comments.</div>
  <div class="default"><b>Be real.</b> Let your questions reflect your true personal interests and real concerns. This can be your opportunity to reveal a new and unexpected side of your personality or bring attention to an important issue.</div>
  <div class="default"><b>Make the Forum work for you.</b> Use this practical tool to conduct surveys and mine information that can help you make real improvements.</div>
  <div class="default"><b>Ask questions that encourage self-expression.</b> Offer other users an opportunity to demonstrate their unconventional creativity and critical thinking.</div>
  <div class="default"><b>Create a stir.</b> Don't shy away from controversial topics that may provoke a heated discussion.</div>
<% end %>