<%
locale_js = I18n.locale == 'en' ? 'en_US' : 'ru_RU'
%>
<div id="fb-root"></div>
<script type="text/javascript" src="http://connect.facebook.net/<%=locale_js%>/all.js"></script>
<script type="text/javascript">
  FB.init({
    appId: '<%=FB_CONNECT_CONFIG[:app_id]%>',
    status: true,
    cookie: true,
    xfbml: true
  });
</script>