
<%# Google Webmaster Tools verification %>
<meta name="verify-v1" content="PsAOZ5U2zmEBFLiZ8WTYXxkg0lqwRa+FmqKtZwvlmOM=" />

<meta name="Author" content="Kroogi" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<%# Facebook Site Stats %>
<%= fb_connect_admin_meta_tag %>
