<div class="two_column">
  <% if @activities.empty? %>
    <div class="inner">
      <div class="collection">
        <div class="pageTitle">My Albums</div>
        <div class="collectionContainer">
          <div class="collectionHeader">These are the albums you downloaded, contributed to, or sent to your friends</div>
          <div class="whiteBox">
            <div class="empty">You did not download,<br />
            contribute, or sent out any albums yet</div>
          </div>
        </div>
      </div>
    </div>
  <%else%>
    <div class="inner">
      <div id="ajaxUpdater">
        <%= render :partial => "user_activities", :locals => {:last_page => false}%>
      </div>
    </div>
  <%end%>
  <%= render :partial => 'shared/facebook/right_sidebar', :locals => {:box => ['influence']} %>
  <div class="clear"></div>
</div>