<div><%= "Note: all money-related functionality will be turned off until your payment system connection information is validated by Kroogi.".t %></div>
    <button class="button" name="commit" type="submit"><span><%= 'Next &gt;'.t -%></span></button>
 