<div class="gallery_audio_inner_sm">
  <div class="g_title2">
    <%= gallery_content_title_link(content, url, :from_related => from_related) %>
  </div>

  <%= link_to(image_tag("video_sm.png", :alt => '', :border => 0), content_url(content, :from_related => from_related)) %>
</div>