
<p><%= 'Hello'.t -%>,</p>

<p><%= 'Your account, %s, has been deleted from the Kroogi Network.' / (h @user.login) -%> </p>

<p><%= 'Thank you for the time you spent with us.'.t -%></p>

<p>
  <%= 'Sincerely'.t -%>,<br/>
<%= 'The Kroogi Team'.t -%>
</p>

