
<td class="white dotted_t">&nbsp;</td>
<td class="white dotted_t"><%= render :partial => "buttons" , :locals => { :is_editing => defined?(editing) && editing } %></td>
<td class="white">&nbsp;</td>      

