<div class="default">A <strong>Music Album</strong> is an easy way for you to distribute your album or collection of tracks in your Kroogi Content.</div>
<div class="default">
Step 1: Create your Music Album and add a cover image.<br/>
Step 2: Upload the tracks. Please use the best possible compression.<br/>
Step 3: Click on the <strong>Make Downloadable</strong> button on the Album Page to make your tracks available for distribution.
</div>
<div class="default">
Please note: To make your <strong>Music Albums</strong> downloadable, you must have a Payment System attached to your
Kroogi account or Project.
</div>