<div class="default"><strong>Музыкальный альбом</strong> – это лёгкий способ рассказать слушателям о своём музыкальном альбоме или сборнике композиций из своих Материалов.</div>
<div class="default">
Шаг 1: Создайте свой Музыкальный альбом и добавьте картинку для его обложки.<br/>
Шаг 2: Загрузите треки альбома. Пожалуйста, используйте оптимальный уровень сжатия.<br/>
Шаг 3: Нажмите кнопку "<%='Make downloadable'.t %>" на странице альбома, чтобы запустить его раздачу другим пользователям.</div>
<div class="default">
Внимание: чтобы Ваши <strong>Музыкальные альбомы</strong> стали доступными для загрузки, Ваши платёжные системы должны
быть подключены к Вашей регистрационной записи или проекту в Кругах.</div>
