<div class="form_line">
  <div class="form_left"><%= 'Tags'.t %></div>
  <div class="form_right">
    <%= f.text_field('tag_list', :size => 56, :maxsize => 200) %>
    <div><%= '(comma separated)'.t %></div>
  </div>
</div>
