<div id="network_buttons">
<%= link_to(image_tag('icon_facebook.png'), "http://www.facebook.com/pages/Kroogi/173389177416", :target => '_blank')%>
<%= link_to(image_tag('icon_twitter.png'), "http://twitter.com/kroogi", :target => '_blank')%>
<%= link_to(image_tag('icon_rss.png'), "http://kroogi.com/user/announcements_feed/8", :target => '_blank')%>
</div>