<div><%= image_tag("/images/960_o_top.gif", :alt => "") %></div>
<div class="footer_side_sdw">
  <div style="padding:20px;">
    <%= '<b>Connection limit exceeded.</b> Please wait and try again in a minute.' %>
    <%= "If you don't want to wait please {{login}} or {{register}} to have instant access to Kroogi search engine." / [link_to("Login".tdown, login_url), link_to("Register".tdown, signup_url)] %>
  </div>
</div>
<div class="shadow"><%= image_tag("/images/960_o_btm.gif", :alt => "") %></div>