<div class="main_body_subhead orng_text">Что такое Круги?</div>
Круги –  творческое сообщество, в рамках которого музыканты, художники, писатели или фотографы  размещают свои композиции, художественные работы, книги или фотографии, законными  правообладателями которых они  являются. Каждый из авторов  выстраивает систему кругов для своей собственной зрительской аудитории, которая, в свою очередь скачивает авторские материалы и оплачивает труд их создателя по схеме "Заплати, сколько считаешь нужным".
<br/><br/>
Выбрав такую  модель распространения творческих работ и их оплаты, мы позаботились как об авторских интересах, так и о зрителях. Авторы получают удобную, доступную основу и все необходимые инструменты для продвижения работ в сети. Зрители приобретают возможность, заплатив автору по своему усмотрению, законным образом получить понравившийся контент.
<br/><br/>
Круги предлагают зрителю  самому оценивать стоимость творческого  труда, избавляя его от необходимости выбирать между бесплатным (и зачастую незаконным) скачиванием контента  и платными сайтами.  Как показывает наш опыт, в 20% случаев зрители, скачавшие материалы на Kroogi.com, вознаграждают автора за его труд.
<br/><br/>
В данный момент сайт Круги в бета-версии объединяет более 65,000 авторов, слушателей и зрителей из России и ближнего зарубежья. Oдновременно с этим мы активно расширяем географию, добавляя на Kroogi карту США, страны Европы и Латинской Америки.<br/><br/>
<div class="orng_line"></div>
<br/>
<div class="main_body_subhead orng_text">Как работать с Кругами?</div>
Через файлообменные системы незаконно скачиваются миллионы песен. Круги предлагают вам выбрать золотую середину между абсолютно бесплатным и абсолютно платным творчеством, зону, безопасную для прав авторов и пользователей.  
<br/><br/>
Круги вручают каждому  члену сообщества набор инструментов, необходимых для взаимодействия друг с другом, для сбора средств  на благие дела, для распространения  контента, для переписки, чата и голосований за понравившиеся материалы сайта. Прекрасным подспорьем в распространении авторских материалов служат приложение для Facebook и виджеты для размещения в блогах и на других web-сайтах.  
<br/><br/>
Авторы получают заслуженное  вознаграждение за свое творчество и поддержку от преданных поклонников. Зрители обретают возможность свободно исследовать, взаимодействовать, получать доступ к произведениями искусства и творчества и владеть ими без каких-либо ограничений. 
<br/><br/>
В случае, если автор, или его представители, размещают и продают законченные версии своих работ (музыку, книги, картины, арт-объекты и т.п) через собственные Web-сайты, или традиционные сетевые магазины, Круги – это незаменимое дополнение, позволяющее делиться со зрителями творчеством на любом этапе работы. Так, например, на Кругах можно публиковать и получать плату за различные версии песен, которые никак иначе не смогли бы сослужить службу автору. Размещение би–сайдов, демо-версий, незавершенных проектов и других вариантов "limited-edition" способствует сближению авторов и их зрителей, а также приносит доход их создателям.<br/><br/>
<div class="orng_line"></div>
<br>
<div class="main_body_subhead orng_text">Идейный вдохновитель – Мирослав Сарбаев, основатель проекта</div>
<div style="float:left; margin:3px 20px 0 0;"><%= image_tag('miro-2.jpg') %></div>
История впечатляющей карьеры основателя Кругов родилась и развивалась на стыке музыки и технологии.  Пока распадался Советский Союз (1985-1990), Мирослав работал внештатным корреспондентом крупнейших российских газет и новостных агенств. В 1990 он стал одним из основателей IMA Press, Российского новостного агенства и открыл первый в США офис IMA, параллельно оказывая консалтинговые услуги технологическим компаниям. В 1999 Миро стал сотрудником компании Napster’s Shawn Fanning, где осуществлял контроль за базами данных. Позднее, в 2002 он примкнул к Fanning’s Snocap, став техническим директором компании и запустив механизм лицензирования музыки на Snocap. В 2007 Мирослав основал Kroogi, старт проекта состоялся в ноябре 2008 года. Он живет на два города, регулярно курсируя между Сан-Франциско и Москвой. Миро обладатель магистерской степени в области ядерной энергетики (МЭИ).
