<b><i>Kroogi</i></b> (translated from Russian) means Circles, Social Circles, Project Circles<br/><br/>
<div class="main_body_subhead orng_text">About Kroogi</div>
Kroogi.com is a <b>content community</b> where musician, artists, writers and photographers post copyrighted songs, art, images, books, and build social circles of fans who download and compensate them for it based on a “Pay What You Want” model.<br/><br/> 
Kroogi’s content community model for distributing and monetizing content benefits creators and fans equally.  Creators are afforded a convenient, social platform and tools for promoting and sharing their work online. Fans are afforded an opportunity to “pay what you want” for unrestricted use and enjoyment of content.<br/><br/>
Kroogi’s content community model bridges the wide gap between free (and often illegal) and fixed payment models by letting fans determine the value of content. Historically, 20% of all downloads at Kroogi.com earn money for content creators.
Kroogi is also an engaging social game that creates motivation for artists and fans to interact and support each other online and in the real world.<br/><br/>
Currently in beta, Kroogi supports an active community of 65,000 artists and fans in and around Russia, and is now expanding its reach into the US, Europe and South America. For more information visit www.Kroogi.com.<br/><br/>
<div class="orng_line"></div>
<br/>
<div class="main_body_subhead orng_text">How It Works</div>
Millions of songs are downloaded illegally via file sharing services. Kroogi.com offers a middle ground between free and fixed-fee models in ways that respect both artist and user rights. Content creators are compensated for creativity within the community and supported by loyal fans. Fans have freedom to browse, access, experience and own creative content without restriction.<br/><br/>
Kroogi provides community members with customized tools for social interaction, fund raising, content sharing, texting, chat, and content rating. Also, a Facebook application and widgets for blogs and websites allow artists to bring their content to massive global audiences.<br/><br/>
<div class="orng_line"></div>
<br>
<div class="main_body_subhead orng_text">Leadership - Miro Sarbaev, Founder</div>
<div style="float:left; margin:3px 20px 0 0;"><%= image_tag('miro-2.jpg') %></div>
Kroogi founder Miro Sarbaev has had an exciting career at the intersection of music and technology. During the collapse of the Soviet Union (1985-1990), he wrote as a freelance journalist for major newspapers and news agencies in Russia. In 1990 he co-founded IMA Press, a Russian news agency and opened an IMA office in the USA where he also began consulting for technology companies. In 1999, Miro was hired by Napster’s Shawn Fanning to manage Napster’s database group and later, in 2002, he joined Fanning’s Snocap, where he served as director of engineering and built Snocap’s music licensing engine. He founded Kroogi in 2007 and launched the community in November 2008.<br/><br/>
Miro resides in San Francisco and Moscow, and commutes frequently between both locations. He holds a M.S. in Nuclear Engineering from Moscow Power Engineering University.
