<div class="main_body_subhead orng_text">How to Set Up a Successful Kroogi Project</div>
The success of your Kroogi Project depends on the way you create and maintain relationships with your followers. People will visit your page for these reasons:<br /><br />

1. To download content and receive news and updates;<br />
2. To access exclusive content, events, and information;<br />
3. To interact with you;<br />
4. To find people with similar interests.<br /><br />
So, there are three things you should do:<br /><br />
1. Manage your circles; be aware of your followers, interact with them, respond to their questions and comments;<br />
2. Keep your content interesting and up to date; Make sure you tell your followers about upcoming events and releases;<br /> 
3. Be involved; create a personal connection with your followers.<br /><br />

You should create a separate Kroogi project for each of your creative ventures. Projects will allow you to organize your fans into 5 circles, 3 of which will have an option of a subscription-based (paid) membership.<br /><br />

<div class="main_body_subhead">To create a new project</div> 
Go to the "My Projects" Link at the top of the Kroogi home page.<br />
<img src="/images/help_screenshots/project_1_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

The next page will list all of your current projects. To create a new one, click the "Create New Project" link in the box on the to your profile picture.<br />
<img src="/images/help_screenshots/project_2_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />


The next screen will prompt you to enter your new project's name and other information. You will also have the option to hide your project from public view so it will not be visible until you have finished setting it up. <br />
<img src="/images/help_screenshots/project_3_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />


Once you create your project, add an avatar, a picture and continue by choosing tabs on the left.<br />
<img src="/images/help_screenshots/project_4_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

1. Use a detailed photo or drawing for your Kroogi picture – this is the first thing visitors to your Profile Page will see.<br /><br />
2. Use smaller (80 by 80px) images for your project's avatars. Your avatars will be used to represent the project when you communicate with others. People should be able to recognize your main avatar at a glance when scanning through a list of messages or comments. You can have up to 16 avatars per project.<br /><br />


<div class="main_body_subhead">To edit details about your project</div>
Click on the "Edit Project Settings" link located under buttons in your header box.<br />
<img src="/images/help_screenshots/project_5_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />
 The next screen will show you options for editing your project's Details, Pictures, Avatars, and Settings. It will also show you links to manage your circles, see who receives emails about your project's activity, manage your payment systems, and connect your Kroogi and Livejournal accounts.<br /><br />


<div style="float:right"><a href="#top">Top of Page</a></div><br /><br />


<a name="markup"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">Kroogi Mark-up</div>
Use these tools to add more to your text entries.<br /><br />

<div class="main_body_subhead">Kroogi Names</div>
Enter <b>&lt;kroogi user="kroogi name" &#47;&gt;</b> to show a link to a user/project's Kroogi Page.<br />
<b><i>Example</i></b><br />
Enter <b>&lt;kroogi user="user-forum" &#47;&gt;</b><br />
Get <a href="user-forum">user-forum</a><br /><br />

Enter <b>&lt;kroogi user="kroogi name"&gt; Any text &lt;/kroogi&gt;</b> to show a link to a user/project's Kroogi Page hidden under other text.<br />
<b><i>Example</i></b><br />
Enter <b>&lt;kroogi user="user-forum"&gt; Kroogi User Forum &lt;/kroogi&gt;</b><br />
Get <a href="user-forum"> Kroogi User Forum </a><br /><br />

<div class="main_body_subhead">Titles</div>
Use <b>&lt;h1&gt;</b> - <b>&lt;h6&gt;</b> to display headers.<br />
<b><i>Example</i></b><br />
Enter <b>&lt;h3&gt;Header Title&lt;/h3&gt;</b><br />
Get <span style="font-size:13px; font-weight:bold;">Header Title</span><br /><br />

<div class="main_body_subhead">Images</div>
Use <b>&lt;img&gt;</b> tags to display images from other sites.<br />
<b><i>Example</i></b><br />
Enter <b>&lt;img src="http://www.google.com/intl/en_ALL/images/logo.gif"&gt;</b> and get:<br />
<img src="http://www.google.com/intl/en_ALL/images/logo.gif"><br /><br />

To include showcase image to your entry, right click on the image of desired size (small, bigger or download) get image location and enter it into the <b>&lt;img&gt;</b> tag.<br />
<b><i>Example</i></b><br />
Enter <b>&lt;img src="http://s3.amazonaws.com/krugi/content/thumbs/2735/orn2_big.jpg"&gt;</b> and get:<br /><br />
<img src="http://s3.amazonaws.com/krugi/content/thumbs/2735/orn2_big.jpg"><br /><br />

<div class="main_body_subhead">Text</div>
Use <b>&lt;i&gt;, &lt;b&gt;, &lt;u&gt;, &lt;strong&gt;, &lt;em&gt;</b> to show text as <i>italic</i>, <b>bold</b>, <u>underlined</u>, <strong>strong</strong>, <em>emphasized</em>.<br /><br />

<div class="main_body_subhead">Lists</div>
Use <b>&lt;ul&gt;</b> and <b>&lt;li&gt;</b>, to show bulleted lists.<br />
<b><i>Example</i></b><br />
Enter:<br />
<b>&lt;ul&gt;<br />
&lt;li&gt;Option 1&lt;/li&gt;<br />
&lt;li&gt;Option 2&lt;/li&gt;<br />
&lt;li&gt;Option 3&lt;/li&gt;<br />
&lt;/ul&gt;</b><br />
Get:
<ul>
<li>Option 1</li>
<li>Option 2</li>
<li>Option 3</li>
</ul>
Use <b>&lt;ol&gt;</b> and <b>&lt;li&gt;</b>, to show numbered lists.<br />

<b><i>Example</i></b><br />
Enter:<br />
<b>&lt;ol&gt;<br />
&lt;li&gt;Option 1&lt;/li&gt;<br />
&lt;li&gt;Option 2&lt;/li&gt;<br />
&lt;li&gt;Option 3&lt;/li&gt;<br />
&lt;/ol&gt;</b><br />
Get:
<ol>
<li>Option 1</li>
<li>Option 2</li>
<li>Option 3</li>
</ol><br />

<div class="main_body_subhead">Embed Media</div>
Use <b>&lt;embed&gt;</b> tag to embed media from other sites (Note: some video hosting sites are not supported due to security issues). You can use YouTube and RuTube to host your videos. If you use other services, make sure that your video can actually be played after you post it.<br /><br />

<b><i>Example</i></b><br /><br />
<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/6gmP4nk0EOE"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/6gmP4nk0EOE" type="application/x-shockwave-flash" wmode="transparent" width="425" height="344"></embed></object><br /><br /><br />

<div class="main_body_subhead">Some Standard HTML still works</div>
For example (without quotes): "&lt;a href=&quot;http://kroogi.ru/explore&quot;&gt;http://kroogi.ru/explore&lt;/a&gt;"
produces: <a href="http://kroogi.ru/explore/">http://kroogi.ru/explore/</a><br /><br />
<div style="float:right"><a href="#top">Top of Page</a></div><br /><br />

<a name="widget"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">Kroogi Widget Tutorial</div>

Kroogi has a widget that allows you to easily share and promote your music. Using an HTML code, you can embed albums into a web page (provided they support HTML).<br /><br />

If you're an artist, this is a great way to promote your work. If you're a fan, you can use the widget to support your favorite musicians by sharing their music with others.<br /><br />

<a href="http://community.livejournal.com/kroogi_news/2542.html" target="_blank">Here's what it looks like</a><br /><br />

<b>How to use it:</b><br /><br />

1. Go to a Kroogi artist profile.<br /><br />
2. Click on the album that you want to share.<br /><br />
3. On the left-hand side of the page, underneath the Download button, there's a button titled "Embed This." Click it.<br /><br />
4. A box will pop up with the embed code at the top. Copy and paste it into a website to display the widget.<br /><br /><br />

<b>How it works:</b><br /><br />

1. People can play music directly from the widget, by clicking on the play symbol next to each track.<br /><br />
2. On the upper right hand side of the widget, there is a "Download this album" button. When clicked, it will direct viewers to the album's Kroogi page.<br /><br />




<div style="float:right"><a href="#top">Top of Page</a></div><br /><br />
<a name="tags"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">For Kroogi Artists: Creating ID3 Tags</div>

It's important to create proper ID3 tags before uploading your music on Kroogi, so when fans download your music they can see the name of your album/tracks, and they can find it easily on their computer.<br /><br />

Also, your mp3 compression rates need to be set to 320 kbps.<br /><br />

This tutorial will give you instructions for editing ID3 tags using Windows, Mac(iTunes), Winamp and Foobar.<br /><br />

<div class="main_body_subhead">For Windows Users:</div>
(Note: if you are a Windows user but you manage your music with iTunes, you can also follow the steps for Mac users below.)<br /><br />

<b>To add ID3 tags in Windows:</b><br /><br />
1. Right Click on the mp3 file of your track.<br /><br />
2. Select Properties.<br /><br />
3. Select the tab "Summary."<br /><br />
4. Click on the "Advanced" button.<br />

<img src="/images/help_screenshots/tags_pc1_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

5. In the window, enter your MP3 information (aka, its ID3 tags). Make sure you include the following information:<br />
- Artist<br />
- Title<br />
- Genre<br />
- Album title<br />
- Order of tracks<br />

<img src="/images/help_screenshots/tags_pc2_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

6. When finished, click OK.<br /><br /><br />

<div class="main_body_subhead">For Mac Users:</div>
1. Add your album to your iTunes library if you haven't already.<br /><br />
2. Open iTunes and find the album that needs to be edited.<br /><br />
3. Select all the tracks in the album and hit the command key and "i" key (or, press ctrl, click, and select "get info"). This way, you can edit information for the whole album at once.<br />

<img src="/images/help_screenshots/tags_mac1_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

4. Select the "Info" tab. Make sure you include the following information:<br />
- Artist<br />
- Name<br />
- Genre<br />
- Album title<br /><br />

5. To edit individual tracks, select one track at a time and hit the command key and "i" key.<br />

<img src="/images/help_screenshots/tags_mac2_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

6. When finished, click "OK."<br /><br /><br />

<div class="main_body_subhead">How to Edit ID3 Tags Using Winamp</div>

There are two ways to edit your ID3 tags if you prefer using Winamp.<br /><br />
<b>First option:</b><br /><br />

1. Open the MP3 that needs editing with the Winamp player.<br /><br />
2. Double click on the "Track Info" area in the player.<br /><br />
3. When the ID3 tag editing window opens, put in the correct information for the track, including the song title, artist, and album. Click "OK" when done.<br />

<img src="/images/help_screenshots/tags_winamp.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />
<b>Second option</b><br /><br />

1. Open the Winamp player.<br /><br />
2. Find the track that needs editing, and right-click on it. Choose "View File Info."<br /><br />
3. This will allow you to edit the ID3 tags of the track. Click "OK" when done. <br /><br /><br />

<div class="main_body_subhead">How to Edit ID3 Tags Using Foobar2000</div>

1. Once you've opened Foobar, right-click on the track that needs editing. Click "Properties" in the drop-down menu.<br /><br />
2. Click on the Metadata tab once the "Properties" window has opened.<br />

<img src="/images/help_screenshots/tags_foobar.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

3. Click on the box of the information you want to add/change, such as the artist, album, or track. Once clicked, you will be able to enter the information.<br /><br />
4. Click "OK" when done.<br />

<div style="float:right"><a href="#top">Top of Page</a></div><br /><br />
<a name="facebook"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">Facebook Kroogi Downloads Tutorial</div>
It's easy for both artists and fans to promote and share Kroogi music on Facebook.<br /><br />
<div class="main_body_subhead">For Artists</div>

Any public Facebook account can be used to promote Kroogi artists by adding a Kroogi Downloads tab/box to your profile. When people click on it, they'll see a list of albums you've downloaded using our Facebook application.<br /><br />

<b>Adding a Kroogi Tab to Your Personal Profile:</b><br /><br />

1. Go to our <a href="http://apps.facebook.com/kroogidownloads/" target="_blank">application page</a>.<br /><br />
2. On the right-hand side of the page, you'll see a box that says, "Promote your favorite artists and share your tastes with your friends!" There is an "Add to Profile" link inside. Click on it to add the box.<br /><br />

Artists can promote their project with a Kroogi tab on their Facebook fan page. When people click on the tab, they'll see links to your Kroogi Downloads profile and your albums.<br /><br />

<div class="main_body_subhead">For Fans: Choosing an Artist to Represent on Facebook</div>

You can now use the Kroogi Downloads (KD) tab to represent one Kroogi artist of your choice on your Facebook profile.<br /><br />


1. Add the Kroogi Downloads (KD) tab to your Facebook page by going to the <a href="http://apps.facebook.com/kroogidownloads/" target="_blank">KD application page</a>.<br /><br />

2. Go back to your profile and click on your KD tab (tabs are located above your status)- to the right of your albums you'll see a link saying, You can now present artists from Kroogi and their albums on your profile. Click here to start." Click it.<br /><br />

3. When you go to your page and select the KD tab, you will be directed to a screen asking you, "What Kroogi Artist Do You Want to Represent?" Search for and select an artist (or yourself, if you're a musician on Kroogi). Then, write an introduction about the project you pick.<br /><br />

4. When other people click on your KD tab, they will see your description of the project, the project's name/picture, and a list of their albums available for download.<br /><br />

<b>For Facebook Fan Pages:</b><br /><br />

1. Add the KD tab to your Facebook page by going to the KD application page. A window will pop up, asking you to select which page you want to add the application to. Select your artist page.<br /><br />

2. When you go to your page and select the KD tab, you will be directed to a screen asking you, "What Kroogi Artist Do You Want to Represent?" Search for and select an artist (or yourself, if you are a musician on Kroogi). You will be able to write an introduction about the project you pick.<br /><br />

3. When other people click on you KD tab, they will see your description of the project, the project's name/picture, and a list of their albums that can be downloaded through Kroogi.<br /><br />
<div style="float:right"><a href="#top">Top of Page</a></div><br /><br />
<a name="faq"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">Frequently Asked Questions</div> 

These are the questions asked most frequently through our feedback form.<br /><br />

<b>Why am I having trouble downloading music files?</b><br /><br />
Our system differentiates mp3 files by special ID3 tags associated with mp3 (artist, year, album and so on). Your mp3 file have to have those tags (even if they are just blank). To make your file recognizable, simply open it in iTunes, or edit tags manually.<br /><br /><br />

<b>How do I invite other people to open a Kroogi account?</b><br /><br />
There are 2 ways to invite your friends to Kroogi:<br /><br />
1. Go to your Followers tab and click on the "Invite More" button. Enter your friends' email addresses and click "Search". If your friends are not registered on Kroogi, you can send an invitation via email for them to join the Kroogi community and one of your circles.<br /><br />
2. If you want to invite someone to Kroogi.com, but not to your circles, go to the "--Select an Action--" drop-down tab at the top of the page and select the "Invite to Network" option. Now you can enter an email address, and send an invitation.<br /><br />

<div style="float:right"><a href="#top">Top of Page</a></div><br />


