<div class="main_body_subhead orng_text">Пусть Ваш проект на Кругах будет успешным!</div>
Успех Вашего Kroogi проекта целиком и полностью зависит от того, как Вы налаживаете и поддерживаете отношения со своей аудиторией и поклонниками. Люди будут возвращаться на страничку Вашего проекта снова и снова, если :<br /><br />

1. Новости и материалы проекта постоянно обновляются<br />
2. В проекте размещаются эксклюзивные материалы, информация о событиях и т.д<br />
3. Существует возможность личного общения с Вами<br />
4. Ваш проект объединяет людей со схожими интересами, ценностями и мировоззрением<br /><br />
Поэтому мы рекомендуем Вам не забывать о трёх правилах:<br />
1. Управляйте своими кругами – цените преданность Вашей аудитории<br />
2. Не забывайте обновлять материалы своего проекта<br />
3. Будьте активны – поддерживайте личную связь со зрителями<br /><br /><br />

Творческих идей множество? Создайте отдельный Kroogi проект для каждой из них. Структура проекта позволяет Вам использовать 5 зрительских кругов, 3 из них предполагают функцию подписки (платное членство).<br /><br />

<div class="main_body_subhead">Как создать проект?</div> 
Перейдите по ссылке "Мои проекты" вверху страницы.<br />
<img src="/images/help_screenshots/project_1_ru.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

На следующей странице вы найдёте полный список Ваших текущих проектов. Чтобы создать новый проект, нажмите "Создать новый проект" справа от вашего портрета.<br />
<img src="/images/help_screenshots/project_2_ru.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />


Теперь нужно дать имя новому проекту и ввести о нём необходимую информацию. Если Вы хотите придать проекту законченный вид и только после этого открыть его для других пользователей, воспользуйтесь функцией "Скрыть проект". <br />
<img src="/images/help_screenshots/project_3_ru.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />


Создав проект, загрузите для него аватар, портрет и следуйте вкладкам слева.<br />
<img src="/images/help_screenshots/project_4_ru.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

1. Подойдите внимательно к выбору фотографии или рисунка для портрета проекта, отдайте предпочтение большему разрешению картинки – она будет первым, на что обратят внимание посетители Вашего Kroogi профиля.<br /><br />
2. Для аватара подойдут картинки меньшего размера (80х80 px). Ваши аватары будут представлять Вас в процессе общения с другими пользователями. Самые удачные аватары те, которые  легко запоминаются и позволяют узнавать Вас с первого вгляда, например, при беглом просмотре входящих сообщений или комментариев. Вы можете загрузить до 16 аватаров для каждого своего проекта.<br /><br />


<div class="main_body_subhead">Как редактировать детали проекта?</div>
Ссылка "Настройки проекта" находится сразу под желтыми кнопками справа вверху страницы.<br />
<img src="/images/help_screenshots/project_5_ru.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />
 В появившемся окне Вы можете отредактировать детали проекта, изменить портрет, аватар и другие его настройки. Здесь же можно изменить структуру кругов проекта, настроить получение системных уведомлений по e-mail, наладить работу платёжных систем и присоединить к проекту Живой Журнал. <br /><br />


<div style="float:right"><a href="#top">В начало</a></div><br /><br />


<a name="markup"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">Форматирование текста в Kroogi</div>
Расширьте возможности ввода текстов с помощью этих подсказок.<br /><br />

<div class="main_body_subhead"> Kroogi имена</div>
Введите <b>&lt;kroogi user="kroogi name" &#47;&gt;</b>и вы получите ссылку на страницу Kroogi пользователя/проекта.<br />
<b><i>Например</i></b><br />
Вводим <b>&lt;kroogi user="user-forum" &#47;&gt;</b><br />
Получаем <a href="user-forum">user-forum</a><br /><br />

Введите <b>&lt;kroogi user="kroogi name"&gt; Любой Текст &lt;/kroogi&gt;</b>, чтобы спрятать ссылку на Kroogi пользователя/проект под другим текстом.<br />
<b><i>Например</i></b><br />
Вводим <b>&lt;kroogi user="user-forum"&gt; Kroogi User Forum &lt;/kroogi&gt;</b><br />
Получаем <a href="user-forum"> Kroogi User Forum </a><br /><br />

<div class="main_body_subhead">Заголовки</div>
Используйте <b>&lt;h1&gt;</b> - <b>&lt;h6&gt;</b> для Ваших заголовков.<br />
<b><i>Например</i></b><br />
Вводим <b>&lt;h3&gt;Header Title&lt;/h3&gt;</b><br />
Получаем <span style="font-size:13px; font-weight:bold;">Header Title</span><br /><br />

<div class="main_body_subhead">Изображения</div>
Примените теги <b>&lt;img&gt;</b>, чтобы разместить на странице изображения с других сайтов.<br />
<b><i>Например</i></b><br />
Вводим <b>&lt;img src="http://www.google.com/intl/en_ALL/images/logo.gif"&gt;</b> и получаем:<br />
<img src="http://www.google.com/intl/en_ALL/images/logo.gif"><br /><br />

Чтобы картинка из Ваших материалов появилась в посте, кликните правой кнопкой на изображении подходящего размера, скопируйте его адрес и вставьте сюда <b>&lt;img&gt;</b> tag.<br />
<b><i>Например</i></b><br />
Вводим <b>&lt;img src="http://s3.amazonaws.com/krugi/content/thumbs/2735/orn2_big.jpg"&gt;</b> и получаем:<br /><br />
<img src="http://s3.amazonaws.com/krugi/content/thumbs/2735/orn2_big.jpg"><br /><br />

<div class="main_body_subhead">Текст</div>
Введите <b>&lt;i&gt;, &lt;b&gt;, &lt;u&gt;, &lt;strong&gt;, &lt;em&gt;</b> чтобы получить <i>курсив</i>, <u>подчеркивание</u>, <b>полужирный</b>, <strong>жирный</strong>, <em>выделенный текст</em>.<br /><br />

<div class="main_body_subhead">Списки</div>
Воспользуйтесь <b>&lt;ul&gt;</b> и <b>&lt;li&gt;</b>, если вам нужен список с маркерами.<br />
<b><i>Например</i></b><br />
Вводим:<br />
<b>&lt;ul&gt;<br />
&lt;li&gt;Вариант 1&lt;/li&gt;<br />
&lt;li&gt;Вариант 2&lt;/li&gt;<br />
&lt;li&gt;Вариант 3&lt;/li&gt;<br />
&lt;/ul&gt;</b><br />
Получаем:
<ul>
<li>Вариант 1</li>
<li>Вариант 2</li>
<li>Вариант 3</li>
</ul>
С помощью этого инструмента: <b>&lt;ol&gt;</b> and <b>&lt;li&gt;</b>, вы получите пронумерованный список.<br />

<b><i>Например</i></b><br />
Вводим:<br />
<b>&lt;ol&gt;<br />
&lt;li&gt;Вариант 1&lt;/li&gt;<br />
&lt;li&gt;Вариант 2&lt;/li&gt;<br />
&lt;li&gt;Вариант 3&lt;/li&gt;<br />
&lt;/ol&gt;</b><br />
Получаем:
<ol>
<li>Вариант 1</li>
<li>Вариант 2</li>
<li>Вариант 3</li>
</ol><br />

<div class="main_body_subhead">Встраиваем медиа-файлы</div>
С помощью тега <b>&lt;embed&gt;</b> вы можете вставить медиа–файл с других сайтов. Пожалуйста, обратите внимание, что некоторые видео хостинги не поддерживаются нашим сайтом по причинам безопасности. Используйте YouTube и RuTube, а в случае использования других хостингов, проверяйте воспроизводится ли видео после размещения на Kroogi.<br /><br />

<b><i>Например</i></b><br /><br />
<object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/6gmP4nk0EOE"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/6gmP4nk0EOE" type="application/x-shockwave-flash" wmode="transparent" width="425" height="344"></embed></object><br /><br /><br />

<div class="main_body_subhead">И, конечно, стандартный HTML</div>
Если вы введёте (без кавычек): "&lt;a href=&quot;http://kroogi.ru/explore&quot;&gt;http://kroogi.ru/explore&lt;/a&gt;"
Вы получите: <a href="http://kroogi.ru/explore/">http://kroogi.ru/explore/</a><br /><br />
<div style="float:right"><a href="#top">В начало</a></div><br /><br />

<a name="widget"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">Kroogi виджет – красивый и нужный</div>

Круги придумали новый Kroogi виджет – теперь делиться любимой музыкой и продвигать собственные музыкальные работы стало еще проще. Вы сможете встроить Kroogi плеер с любимой музыкой в любую web-страницу, используя HTML код (при условии что сайт поддерживает изпользование HTML).<br /><br />

Если Вы пишете музыку, это прекрасный способ познакомить всех со своим творчеством. Если Вы слушатель, Вы можете поддержать своего любимого исполнителя, используя виджет с его музыкой.<br /><br />

<a href="http://community.livejournal.com/kroogi_news/2542.html" target="_blank">На Вашей страничке это будет также красиво.</a><br /><br />

<b>Как обращаться с виджетом:</b><br /><br />

1. Перейдите на Kroogi страницу любимого исполнителя или свою.<br /><br />
2. Откройте альбом, которым хотите поделиться.<br /><br />
3. С левой стороны страницы, под кнопкой "Скачать", найдите кнопку "Embed This" – это то, что нужно. Жмите!<br /><br />
4. Во всплывающем окне появится код вставки. Скопируйте его и вставьте в HTML Вашей веб-страницы чтобы на ней появился Kroogi плеер.<br /><br /><br />

<b>Чем хорош виджет:</b><br /><br />

1. Пользователи могут слушать Kroogi музыку прямо с Вашего веб-сайта, просто нажав кнопку воспроизведения трека на встроенном плеере.<br /><br />
2. Справа, в верхней части виджета находится кнопка "Скачать этот альбом". Нажав на неё, слушатель сразу попадает на страницу Kroogi альбома.<br /><br />




<div style="float:right"><a href="#top">В начало</a></div><br /><br />
<a name="tags"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">Информация для музыкантов – прописываем ID3 теги!</div>

Верные ID3 теги необходимы, чтобы скачанная пользователями музыка отображалась с правильными названиями авторов, альбомов и композиций. Кроме того, ID3 теги помогают слушателям быстро найти Вашу музыку в системе.<br /><br />

 Пожалуйста, удостоверьтесь что компрессия Ваших mp3 файлов 320 kbps.<br /><br />

<div class="main_body_subhead">Для пользователей Windows:</div>
(NB: Если у вас установлена программа iTunes, вы можете воспользоваться инструкцией для Mac, она приведена ниже)<br /><br />

<b>Добавляем ID3 теги в Windows:</b><br /><br />
1. Кликаем правой кнопкой на mp3 файле Вашего трека.<br /><br />
2. Выбираем "Свойства"<br /><br />
3. Выбираем закладку "Сводка"<br /><br />
4. Нажимаем на кнопку "Дополнительно"<br />

<img src="/images/help_screenshots/tags_pc1_ru.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

5. В появившемся окне, в столбце "Значение" вводим информацию о треке (ID3 теги):<br />
- Исполнитель<br />
- Название композиции<br />
- Жанр<br />
- Название альбома<br />
<br />

<img src="/images/help_screenshots/tags_pc2_ru.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

6. Закончили? Тогда нажимаем "ОК", чтобы сохранить информацию.<br /><br /><br />

<div class="main_body_subhead">Для пользователей Mac:</div>
1. Добавьте Ваш альбом в библиотеку iTunes (iTunes Library).<br /><br />
2. Откройте iTunes, и найдите тот альбом, где Вы хотите заполнить ID3 теги.<br /><br />
3. Выделите все треки этого альбома и кликните command key + i (или удерживая ctrl, кликните мышкой и выберите "get info"). Так вы сможете ввести информацию сразу для всех реков альбома.<br />

<img src="/images/help_screenshots/tags_mac1_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

4. Выберите вкладку "Info", убедитесь, что заполнены следующие поля:<br />
- Исполнитель<br />
- Имя трека<br />
- Жанр<br />
- Название альбома<br /><br />

5. Чтобы заполнить ID3 теги для отдельного трека, выделите его и кликните command key + "i".<br />

<img src="/images/help_screenshots/tags_mac2_en.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

6. Закончили? Тогда нажмите "ОК", чтобы сохранить информацию.<br /><br />

<div class="main_body_subhead">Как отредактировать ID3 теги с помощью Winamp</div>

В Winamp можно отредактировать ID3 теги двумя способами.<br /><br /> <b>Способ 1:</b><br /><br />

1. Откройте в программе Winamp тот Mp3 файл, который хотите отредактировать.<br /><br /> 2. Двойным нажатием кликните на "Track Info" в плеере.<br /><br /> 3. Когда откроется окно редактирования ID3 тегов, введите информацию о треке, включая название композиции, исполнителя и название альбома. Затем, нажмите "OK".<br />

<img src="/images/help_screenshots/tags_winamp.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br /> <b>Способ 2</b><br /><br />

1. Запустите Winamp.<br /><br /> 2. Найдите тот трек, который хотите отредактировать и кликните на нём правой кнопкой мыши. Выберите "File view info".<br /><br /> 3. Теперь Вы можете отредактировать ID3 теги выбранного трека. После завершения, нажмите "ОК". <br /><br /><br />

<div class="main_body_subhead">Как отредактировать ID3 теги с помощью Foobar2000</div>

1. После запуска программы Foobar, кликните правой кнопкой на том треке, который Вы хотите отредактировать. В выпадающем меню выберите "Properties" (Свойства).<br /><br /> 2. В открывшемся окне "Properties" (Свойства) кликните на вкладке Metadata.<br />

<img src="/images/help_screenshots/tags_foobar.jpg" style="border: 1px solid rgb(253, 241, 199); padding: 5px; margin: 15px 0px;"><br /><br />

3. Введите ту информацию, которую Вы хотите добавить/отредактировать: исполнитель, альбом или трек. Кликните на строчке, чтобы она стала активной.<br /><br /> 4. Нажмите "OK".<br />



<div style="float:right"><a href="#top">В начало</a></div><br /><br />
<a name="facebook"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">Приложение Kroogi Downloads на Facebook</div>
Это приложение позволяет авторам и слушателям делиться друг с другом любимой музыкой и продвигать своё музыкальное творчество на Facebook.<br /><br />
<div class="main_body_subhead">Для Авторов</div>

Любая открытая страница Facebook (public page) может помочь Kroogi иполнителю расширить свою аудиторию, если на ней размещена вкладка приложения Kroogi Downloads. Кликнув по ней, посетители увидят список всех Kroogi альбомов, которые были скачаны через наше Facebook приложeние.<br /><br />

<b>Как добавить вкладку Kroogi на личную Facebook страницу:</b><br /><br />

1. Перейдите на страницу нашего <a href="http://apps.facebook.com/kroogidownloads/" target="_blank">приложения</a>.<br /><br />
2. С правой стороны страницы вы увидите модуль с текстом "Promote your favorite artists and share your tastes with your friends!", найдите ссылку "Add to Profile" и кликните по ней, чтобы добавить модуль на Вашу страницу.<br /><br />

Вкладка Kroogi, размещённая на зрительских страницах (Facebook Fan Pages)  станет хорошим помощником для авторов, которые ведут свой авторский музыкальный Kroogi проект и хотят рассказать о нём. Кликая по вкладке, пользователи попадают на страницу с ссылками на Ваш профиль Kroogi Downloads и Ваши альбомы.<br /><br />

<div class="main_body_subhead">Для зрителей: Станьте представителем любимого музыканта на Facebook.</div>

Вы можете использовать приложение Kroogi Downloads (KD), чтобы представить одного из Kroogi исполнителей, по Вашему выбору на своей странице в сети Facebook.<br /><br />


1. Добавьте вкладку Kroogi Downloads (KD) на свою страницу Facebook, для этого перейдите на страницу <a href="http://apps.facebook.com/kroogidownloads/" target="_blank"> KD приложения</a>.<br /><br />

2. Вернитесь на страницу Вашего профиля и кликните по KD вкладке (вкладки находятся сразу над вашим статусом)- справа от Ваших альбомов появится ссылка с текстом "You can now present artists from Kroogi and their albums on your profile. Click here to start." (Теперь Вы можете преставлять Kroogi артистов на своём профиле Facebook. Пройдите по ссылке, чтобы начать) Пройдите по ней.<br /><br />

3. Когда вы окажетесь на своей странице и пройдете по KD вкладке, Вас перенаправят на страницу с вопросом "What Kroogi Artist Do You Want to Represent?" (Какого автора вы хотели бы представлять?). Найдите и выберите необходимого автора (или самого себя если вы автор музыки на Kroogi). Вы сможете написать сопроводительный комментарий к тому проекту, который выберете. <br /><br />

4. Когда другие пользователи будут кликать по Вашей KD вкладке, они будут видеть Ваше описание проекта, имя/портрет проекта и альбомы представленного автора, которые доступны для скачивания на сайте Kroogi.com<br /><br />

<b> Для страниц фан-клубов (Facebook Fan Pages):</b><br /><br />

1. Добавьте вкладку приложения Kroogi Downloads (KD) на свою страницу Facebook. Во всплывшем окне Вас попросят выбрать страницу, к которой вы хотите добавить приложение Kroogi Downloads. Выберите страницу Вашего исполнителя.<br /><br />

2.Когда вы окажетесь на своей странице и пройдете по KD вкладке, Вас перенаправят на страницу с вопросом "What Kroogi Artist Do You Want to Represent?" (Какого автора вы хотели бы представлять?). Найдите и выберите необходимого автора (или самого себя если вы автор музыки на Kroogi). Вы сможете написать сопроводительный комментарий к тому проекту, который выберете. <br /><br />

3. Когда другие пользователи будут кликать по Вашей KD вкладке, они будут видеть Ваше описание проекта, имя/портрет проекта и альбомы представленного автора, которые доступны для скачивания на сайте Kroogi.com<br /><br />
<div style="float:right"><a href="#top">В начало</a></div><br /><br />
<a name="faq"></a><div class="orng_line"></div>
<br />
<div class="main_body_subhead orng_text">FAQ</div> 

Такие вопросы нам задают чаще всего:<br /><br />

<b>Почему у меня не загружаются музыкальные файлы?</b><br /><br />
Наша система распознаёт mp3 файлы по специальным ID3 тегам, прописываемым для mp3 (исполнитель, год, альбом и т.д). Ваши mp3 файлы должны иметь такие теги (даже если эти поля будут пустыми). Чтобы мы смогли распознать Ваш музыкальный файл, просто откройте его в программе iTunes или отредактируйте теги вручную.<br /><br /><br />

<b>Как мне пригласить своих друзей в Kroogi?</b><br /><br />
Это можно осуществить двумя способами:<br /><br />
1. Перейдите в свой раздел "Аудитория" и нажмите кнопку "Пригласить ещё" . Укажите e-mail адреса тех, кого Вы хотели бы пригласить в Kroogi и нажмите "Поиск", если такие адреса еще не зарегистрированы в системе, Вы можете разослать своим друзьям приглашения зарегистрироваться и присоединиться к одному из Ваших кругов по e-mail.<br /><br />
2. Если Вы хотите пригласить кого-то в Kroogi.com, но не в Ваши круги, используйте кнопку "Пригласить друзей" в правом верхнем углу страницы. Теперь Вы можете ввести e-mail и послать приглашение.<br /><br />

<div style="float:right"><a href="#top">В начало</a></div><br />



