<% form_for :tatu_interested_email do |f| %>
  <%= error_messages_for :tatu_interested_email, :message => nil %>
  <%= f.text_field :email, :size => "25", :style => "margin:5px 5px 0 0;" %>
  <button class="button_gr">
    <span><%= 'Submit'.t %></span>
  </button>
<% end %>

