Друзья!<br />
<br />
К сожалению, Kroogi, по независящим от них причинам, временно ограничили приём платежей через СМС. В этом нам помогала компания <a href="http://movable.ru">Movable.ru</a>, но, в настоящий момент она не перечисляет взносы законным владельцам. Авторы контента получают лишь уведомления.<br />
<br />
<br />
Надеемся разрешить этот казус в самое ближайшее время. После выяснения обстоятельств, Kroogi, в любом случае, перечислят все заявленные средства авторам. Об этом мы обязательно сообщим отдельно, а приём платежей через СМС скоро будет восстановлен.<br />
<br />
Искренне Ваш, Мирослав (директор Кругов).
