Dear Friends,<br />
<br />
Unfortunately, we have temporarily seized to receive monetary contributions through SMS payments. It has come to our attention that our current provider of the SMS payment service, <a href="http://movable.ru">Movable.ru</a>, has consistently failed to transfer the contributions to their rightful owners. While Kroogi content creators receive notifications, the actual funds remain inaccessible to their receivers.<br />
<br />
We hope to resolve this issue in the near future. Once the situation is clarified we will make an announcement. Regardless of the outcome, Kroogi will transfer all listed funds to the intended recipients. Contributions via SMS will be resumed once we verify the reliability of the process.<br />
<br />
Sincerely,<br />
Miroslav, Kroogi founder and CEO.
