<fb:if-section-not-added section="profile">
  <div class="add_to_profile">
    <p><strong>Promote</strong> your favorite artists and <strong>share</strong> your tastes with your friends!</p>
    <%= link_to('Add Kroogi Downloads to Your Profile >', :controller => 'user') %>
  </div>
</fb:if-section-not-added>


