<div class="rightTitle">Is Kroogi Really Free?!</div>
<div class="rightBoxes">
  <div class="boxContent">
    <div class="questionsRight">
      <p><b>What’s the catch?</b><br />
      There's really only one catch. If you don't contribute to the artist, they may go hungry. And food tastes good.</p>
      <p><b>Is this about Art or Money?</b><br />
      Some people think music should be completely free. Others feel artists need to be rewarded for their hard work. We agree with both. </p>
      <p>We believe only you, the listener, should decide whether a piece of music is valuable.</p>
      <p><b>Why would an Artist want to give away their music for free?</b><br />
      Many music companies and labels have been trying to adopt a model of digital distribution that benefits musical discovery while maintaining the integrity digital copyrights. Kroogi Downloads is our solution. We hope you enjoy it!</p>
    </div>
  </div>
</div>