<div class="discover_music">
  <div class="title">Discover Music!</div>
  <div class="album_list">
    <div class="album_list_item"><a href="/">Fnord - Smarfle</a></div>
    <div class="album_list_item"><a href="/">Fjord - Narfle</a></div>
    <div class="album_list_item"><a href="/">Fsmoord - Gargle</a></div>
  </div>
</div>