<div class="rightBoxes" style="background-color:#D8DFEA;">
  <div class="boxContent">
    <div class="albumStatistic">
      <form id="promote_form"></form>
    <a clickrewriteurl='<%=facebook_absolute_url("/facebook/tab?promote=true")%>'
       clickrewriteform='promote_form'
       clickrewriteid='promote_id'
       clicktoshow='spinner'>
      <b>You can now present artists from Kroogi and their albums on your profile. Click here to start.
      </b>
    </a><span id="spinner" style="display:none;" class="searchSpinner">Loading... </span>
    </div>
  </div>
</div>
