<div class="call_to_action">
  <div class="title">How to contribute</div>
  <div>
    You can contribute not only by
    making a payment,
    but also by sending
    album to your friends.
    Good music will go
    far beyond your
    immediate circle, and
    we will calculate
    exactly how many
    downloads and
    contributions you
    caused.
  </div>
  <div class="send">
    <%= send_album_link("Send Album to Friends", @entry.id, :requirelogin=>1) %>
  </div>
</div>
