<div class="call_to_action">
  <div class="title">Like the music ?</div>
  <div class="title">Support the Artist !</div>
  <div>
    There are two ways you can support an artist one KroogiDownloads.
    Contribute and Promote. Contribute as much as you want and Promote by sending
    the album to your friends. Your promotion efforts will not go unnoticed.
    We'll let the artist know every time you share their music.
  </div>
</div>