
<div class="default">
  <%= 'In order to integrate your LiveJournal blog, we will need your credentials'.t -%>. 
  <%= 'This allows us to communicate with LiveJournal directly to retrieve the required information'.t -%>. 
  <%= 'All your credentials are securely encrypted on our server'.t -%>.
  <%= 'You can come back to this page later to update your information if it changes'.t -%>. 
</div>
