<div class="default">1. Автору или проекту необходимо подтвердить себя в системе. Чтобы получать зрительские взносы, им нужно подключить счёт PayPal или Webmoney (кошелёк USD).</div>
<div class="default">2. Как только автор или проект подключит и подтвердит свою платёжную систему (PayPal или WebMoney), он сможет получать денежные взносы от зрителей, распространяя Музыкальные альбомы, контент-альбомы (коллекции) или через модуль оплаты на своей Kroogi странице.</div>
<div class="default">3. Когда автор или проект добавляют Музыкальный Альбом на свою страницу в Кругах и включают возможность скачать его, этот альбом сразу появляется в сети Facebook в приложении Kroogi Downloads. Пользователи Facebook могут распространять альбом, рекомендуя его своим друзьям, скачивать альбом и делать взносы через систему PayPal.</div>
<div class="default">4. Каждый автор или проект на Кругах сможет получать взносы через системы PayPal, WebMoney (USD, EUR, RUR) и СМС (определённые страны). Полученные суммы будут сохраняться на Kroogi счёте за именем автора или проекта.</div>
<div class="default">5. Автор или проект смогут обналичить полученные средства через свой счёт PayPal или Webmoney (USD) через 30 дней (период подтверждения может быть изменён).</div>
<div class="default">6. Прежде чем получать взносы автор или проект должен согласиться с условием отчислять Кругам 15% от всех полученных взносов.</div>
<div class="default"><b>Подключите платёжную систему (PayPal или WebMoney), чтобы получать финансовую поддержку от своих зрителей.</b></div>

