<div class="default">1. The artist or project has to be verified first. They should attach a PayPal account or Webmoney Z-purse (USD) before they can start receiving any contributions.</div>
<div class="default">2. Once the PayPal or Webmoney account is attached and verified, the artist or project can receive contributions via following ways: during music downloads, during folder content downloads, via the contributions area on Kroogi page.</div>
<div class="default">3. When artist or project add a Music Album to their Kroogi page and make it downloadable, it will immediately be available on the Kroogi Downloads Facebook application. Facebook users can distribute the album among themselves, download the album and make contributions.</div>
<div class="default">4. Overall, every Kroogi artist or project will be able to receive donations via PayPal, VISA, MasterCard, Yandex Money, Webmoney (USD, EUR, RUR), and SMS (selected countries). These contributions will be collected and held in the Kroogi account in artist's or project's name.</div>
<div class="default">5. The artist or project will be able to withdraw contributions received at their PayPal or Webmoney (USD) account after 30 days (holding period is subject to change).</div>
<div class="default">6. To receive contributions, the artist or project must agree to the Kroogi service fee: 15% from all contributions (subject to change).</div>
<div class="default"><b>Connect payment system (PayPal or Webmoney) in order to receive contributions to your account.</b></div>

