
<br/><br/>
<p>
  <%= 'Sincerely'.t -%>,<br/>
  <%= 'The Kroogi Team'.t -%>
</p>

<p>
  --<br/>
  <%= 'Want to control which emails you receive from Kroogi?'.t -%>
  <%= 'Go to'.t -%> <%= link_to "Email Notifications".t, "#{@url}/preference/show" -%>.
</p>
