<div class="orng_line"></div>
	<div class="player_header">
		<div class="level_links">
    	<%= ([-1] + (1..3).to_a).map { |level| maybe_level_link(level, contest, :current => level_to_select) }.join("") %>
 		</div>
	</div>	
<div class="orng_line"></div>

