<div class="special_notice" style="margin: 15px; padding: 5px;">
  <%= "Invitation to join {{author}}'s Kroogi was successfully sent to {{guest_email}}." / [invite.inviter.display_name, invite.user_email] %>
</div>

